@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradientChange {
      0% {
          background-position: 0%
      }

      50% {
          background-position: 100%
      }

      100% {
          background-position: 0%
      }
  }

  .gradient {
      background: linear-gradient(90deg, blue, red);
      background-size: 200% 200%;
  }

  .element-to-rotate {
      animation: gradientChange 4s ease infinite;
  }
}
.layout{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    }
    * {
        font-family: 'Wix Madefor Display', sans-serif;
    }
    @keyframes appear {
        from {
          opacity: 0;
          clip-path: inset(100% 100% 0 0);
        }
        to {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }
      }
        .bloc {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
      }

   